*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
  

}


body {
  font-family: "Holtwood One SC", sans-serif;

}

/* COMIENZO HEADER */
.banner{
display: flex;
justify-content: center;
width: 100%;
height: 30px;
background-color: rgb(19, 19, 19);
}






/* ESTO ES EL NAV BAR */
.container {
  
  margin: auto;
  height: 100%;
  
  
  }

  header{
    background-color: #ededed;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100%;
    
  }

  .logo{
    margin: 0;
    padding: 15px 30px;
    text-align: center;
    font-family: "Fugaz One",sans-serif;
    font-size: 1.5em;
    transition-duration: 150ms;
    cursor: default;

}

.logo:hover{
  transform: scale(1.1);
}

.footwear-rojo{
  color:rgb(171, 12, 12);
  
}

  header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left:6%;
    
    
  
    
    
  }

  nav{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 7px;
    justify-content: space-between;
    height: 100%;
    margin-right: 80px;
    
    
   
    
  }

  nav a{
    font-family:"Montserrat",sans-serif;
    font-weight: 1000;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 100%;
    margin: auto;
    width: 100%;
    position: relative;
    letter-spacing: 0.9px;
    
    
  }

  nav a::after{
    content: "";
    position: absolute;
    background-color: rgb(186, 2, 2);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -24px;
    transition: 0.7s
  }
 
nav a:hover::after {
  color: rgb(186, 2, 2);
  width: 100%;
  
  
}


.punto-rojo {
  color: rgb(171, 12, 12);
}

#Inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: #ffffffde;
  font-size: 1.8em;
  cursor: pointer;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(/img/hero.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center center;
 

}




h1 {

  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 19px 15px;
 
}

.stook-rojo {
  color: rgb(171, 12, 12);
}

#Nosotros {
  text-align: center;
  padding: 14% 5%;
  height: 40vh;
  

}


#Nosotros h2 {
  font-size: 2.0em;
 
}





#Nosotros p {
  font-family: "Montserrat", sans-serif;
  font-weight:1000;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

#Zapatillas {
  font-family: "Montserrat", sans-serif;
  font-weight: 2px;



}

#Zapatillas h2 {
  font-size: 2.0em;
  text-align: center;
  padding: 75px;
  cursor: default;
  cursor: default;
}



#Zapatillas2 {
  font-family: "Montserrat", sans-serif;
}

.Zapatillas2-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
  

}

.Zapatillas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 300px;
  margin: 30px 40px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: black;
  cursor: pointer;
  transition: all 100ms;
}

.Zapatillas-card:hover {
  transform: translateY(-2%) ;
  background-color: rgba(255, 255, 255);
}



.Zapatillas-card img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: auto;
  padding-top: 55px;
}

.Zapatillas-card h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 1000;

}

#info-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 2px;
  text-align: center;
  padding: 65px;
  font-size: 1.3em;
  cursor: default;
}

#info {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  height: 37vh;
  width: 100%;
  padding: 0% 7%;
  border: #ffffff solid;
  margin: 0;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#info img {
  max-width: 430px;
  margin-right: 30px;
  
}

#info h2 {
  margin-bottom: 20px
}

.texto-info {
  font-size: 1.4em;
  cursor: default;
  padding-left: 5px;
  padding: 10px;
  
}








/*  segunda parte de info   */
#info-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  height: 37vh;
  width: 100%;
  padding: 0% 7%;
  margin: 0;
  border: rgb(255, 255, 255) solid;
 
  
  

}

.container-info-2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
 
  
}

#info-2 img {
  max-width: 430px;
  margin-right: 30px;
 
  
}

#info-2 h2 {
  margin-bottom: 20px;
  

  
}

.texto-info-2 {
  font-size: 1.4em;
  padding-right: 7px;
  padding: 10px;
  cursor: default;
  
  
  
  
  
}

/*              */





/* ESTE ES EL FOOTER*/
footer {
  padding: 7% 5%;
  cursor: default;

}

.footer-link {
  display: block;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
}


footer h2 {
  
  font-size: 0, 8em;
  text-align: center;
  transform: all 400 ease;
  padding: 10%;



}

footer h5 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  
}

footer a {
  text-decoration: none;
  color: black;
  transition-duration: 150ms;
  
}





footer a:hover{
  transform: scale(1.1);
}







/* medidas DESKSTOP */
@media (min-width:720px){
  .container{
    height: 100%;
  }

header .container{
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  

}

.logo{
  margin-left: 42%;
  
}
  
nav{
  flex-direction: row-reverse;
  
  
}

nav a{
  padding: 0px 15px;
  
}

 #Nosotros {
    height:70vh;
    padding: 0;
    
    

  }

  #Nosotros .container {
    display: flex;
    padding: 0;
    border: 5px solid rgb(255, 255, 255);
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    


  }

  #Nosotros .img-container {
    display: flex;
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.3)), url(/img/street.jpg);
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 360px;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    

  }

  #Nosotros .texto {
    width: 50%;
    text-align: initial;
    padding: 30px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
    margin: 30px;
    margin-bottom: 3%;
    cursor: default;

  }
  
  footer {
    display: flex;
    text-align: center;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  footer .container-footer {
    width: 100px;
    

  }

  footer a:hover {
    color: rgb(171, 12, 12);
    
  }

  
}